.btnPrimary {
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.btnSecondary {
  color: #ddd9d9;
  background: #2e3788;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 3rem;
  padding: 0.2rem;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (max-width: 960px) {
    .btnSecondary {
     margin-right: 10rem;
     font-size: 10px;
     width: 80px;
      
    }}
