#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  left: 0;
  right: 0;
  top: 0; */
  margin-top: 1rem;
  /* z-index: 100; */
  background: #cdd2f6;
  height: 4rem;
  width: 100vw;
  flex-wrap: wrap;
  overflow: hidden;
  
}

.navLogo {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;
}
.navLogo img {
  width: 3rem;
}
.siteName {
  font-size: 2rem;
  color: #000;
  font-weight: 800px;
}

.navList ul {
  display: flex;
  gap: 4rem;
  font-size: 1rem;
  flex-direction: wrap;
}

.navList ul li {
  list-style: none;
}

.navLink {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.loginBtn {
  margin-right: 3rem;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.getStartedBtn {
  color: #ddd9d9;
  background: #2e3788;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  padding: 0.2rem;
}

@media  screen and (max-width: 840px) {
    
}
