.password-reset1 {
  height: 39px;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-darkslateblue-200);
  text-align: left;
  display: inline-block;
}
.to-reset-text,
.to-reset-you {
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
}
.to-reset-text {
  border: 0;
  background-color: transparent;
  align-self: stretch;
  height: 39px;
  color: var(--color-darkgray);
}
.to-reset-you {
  position: relative;
  font-weight: 600;
  color: var(--base-base-colour-black);
  text-align: left;
  display: inline-block;
  max-width: 100%;
}
.enter-your-email-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-23xl);
  min-height: 136px;
  max-width: 100%;
}
.continue-button {
  align-self: stretch;
  height: 39px;
}
.password-reset-frame {
  margin: 0;
  width: 908px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-37xl);
  max-width: 100%;
}
@media screen and (max-width: 1050px) {
  .password-reset1 {
    font-size: var(--font-size-7xl);
  }
}
@media screen and (max-width: 450px) {
  .password-reset1 {
    font-size: var(--font-size-lgi);
  }
  .enter-your-email-text {
    gap: var(--gap-2xl);
  }
  .continue-button {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .password-reset-frame {
    gap: var(--gap-9xl);
  }
}
